@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-VariableFont_slnt\wght.ttf) format("ttf");
  font-display: swap;
}

:root {
  --clr-3: hsl(48, 71%, 99%);
  --clr-1: hsl(35, 77%, 62%);
  --clr-2: hsl(5, 85%, 63%);

  --neu-offwhite: hsl(36, 100%, 99%);
  --neu-grayishblue: hsl(233, 8%, 79%);
  --neu-darkgrayishblue: hsl(236, 13%, 42%);
  --neu-vdarkblue: hsl(240, 100%, 5%);

  --fs-90: 0.8rem;
  --fs-base: 0.975rem;
  --fs-100: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.5rem;
  --fs-400: 1.75rem;
  --fs-500: 2rem;
  --fs-xl: 3.5rem;

  --pri-ff: "Inter", sans-serif;

  --sp-1: 2.5rem;

  --transition-all: all 300ms ease-in-out;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  transition: var(--transition-all);
}

html,
body {
  font-family: var(--pri-ff);
  background-color: var(--clr-3);
  font-size: var(--fs-base);
  line-height: 1.5;
  font-weight: 150;
  overflow-x: hidden;
}
img {
  height: 100%;
  object-fit: cover;
}

.wrapper {
  padding-inline: 1rem;
  position: relative;
}
@media screen and (min-width: 40rem) {
  .wrapper {
    max-width: 1160px;
    margin-inline: auto;
    padding-inline: 0;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-block: 2rem 3.125rem;
}

@media screen and (min-width: 40rem) {
  header {
    margin-block: 5rem 3.125rem;
  }
}

.primary-navigation {
  display: flex;
  flex-direction: row;
  gap: var(--gap, 3rem);

  list-style-type: none;
}

.primary-navigation a {
  font-size: var(--fs-base);
  color: var(--neu-vdarkblue);
  text-decoration: none;
  font-weight: 300;
}
.primary-navigation a:hover {
  color: var(--clr-2);
}
.mobile-nav-btn {
  display: none;
}
@media screen and (max-width: 40rem) {
  .primary-navigation {
    flex-direction: column;
    position: fixed;
    z-index: 1000;

    inset: 0 0 0 30%;
    background-color: var(--neu-offwhite);

    --gap: 1rem;
    padding: min(10rem, 30vw) 0 0 2rem;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-btn {
    display: block;
    position: absolute;
    z-index: 9999;

    right: 2rem;
    top: 0rem;

    width: 2rem;
    aspect-ratio: 1;

    background-color: transparent;
    background-image: url(assets/images/icon-menu.svg);
    background-repeat: no-repeat;
    border: none;
  }
  .mobile-nav-btn[aria-expanded="true"] {
    background-image: url(assets/images/icon-menu-close.svg);
  }
}

main {
  margin-block: 0 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
}

@media screen and (min-width: 40rem) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
  }
}

.grid-item-intro {
  grid-row: 2;
}

.grid-item {
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.grid-item-wide {
  height: 300px;
  grid-column: auto;
  grid-row: auto;
}
@media screen and (min-width: 40rem) {
  .grid-item-wide {
    height: auto;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}

.grid-item-tall {
  grid-column: auto;
  grid-row: auto;
  background-color: var(--neu-vdarkblue);
  color: var(--neu-offwhite);
}

@media screen and (min-width: 40rem) {
  .grid-item-tall {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}

.blurb {
  grid-row: 3;
  justify-content: flex-start;
}
@media screen and (min-width: 40rem) {
  .blurb {
    grid-row: auto;
  }
}
@media screen and (min-width: 70rem) {
  .blurb {
    justify-content: space-between;
  }
}

.blurb p {
  margin-block-end: 2rem;
}

.grid-item h2 {
  font-size: clamp(var(--fs-90), var(--fs-xl), 11vw);
  line-height: clamp(var(--fs-90), var(--fs-xl), 11vw);
}

@media screen and (min-width: 40rem) {
  .grid-item h2 {
    font-size: clamp(var(--fs-90), var(--fs-xl), 6vw);
    line-height: clamp(var(--fs-90), var(--fs-xl), 6vw);
  }
}

.pri-btn {
  padding: 1rem 2rem;
  background-color: var(--clr-2);

  font-size: var(--fs-90);
  color: var(--neu-offwhite);
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;

  align-self: flex-start;
}

.pri-btn:hover {
  background-color: var(--clr-2);
}

@media screen and (min-width: 40rem) {
  .pri-btn {
    background-color: var(--neu-vdarkblue);
  }
}

.highlight {
  flex-direction: row;
  justify-content: left;
}
@media screen and (min-width: 40rem) {
  .highlight {
    justify-content: space-between;
  }
}

.highlight img {
  max-width: 6.5rem;
  aspect-ratio: 1;
  margin-inline-end: 1rem;
}

.highlight-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.counter {
  font-size: var(--fs-400);
  font-weight: 800;
  color: var(--neu-grayishblue);
  line-height: 1;
}
.subtitle {
  font-size: var(--fs-200);
  font-weight: 600;
  margin-block-end: 0.5rem;
}

.news {
  margin-block: 4rem;
  padding-block: 1rem;
  padding-inline: 1rem;
}
@media screen and (min-width: 40rem) {
  .news {
    margin-block: 0;
    padding-block: 2rem;
    padding-inline: 2rem;
  }
}

.news-card {
  padding-block: 1.6rem;
  position: relative;
}
.news-card:not(:last-child):after {
  content: "";
  width: 100%;
  height: 0.5px;
  position: absolute;
  bottom: 0;
  background-color: hsla(233, 8%, 79%, 0.463);
}
.news-title {
  font-size: var(--fs-500);
  color: var(--clr-1);
}
